* {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Stick No Bills', sans-serif;
   background-image: url(https://i.imgur.com/uRq2oIL.jpg);
   opacity: 0.9;
}

#pointers {
   display: grid;
   grid-template-columns: repeat(7, 8vmin);
   gap: 0.8vmin;
   margin-top: -8vmin;
   margin-bottom: -4vmin;
}

#pointers > div {
   height: 5vmin;
   border-width: 5vmin;
   border-style: solid;
   border-color: #DB7093 transparent transparent;
   transform: scale(0.7);
}

#pointers > div:hover {
   transform: scale(0.9);
   transition: transform 150ms ease-in;
   border-top-color: maroon;
}

#board {
   display: grid;
   grid-template-columns: repeat(7, 8vmin);
   grid-template-rows: repeat(6, 8vmin);
   background-color: #BC8F8F;
   border: 4mm ridge maroon;
   align-content: center;
   margin: 50x;
   gap: 0.5vmin;
   cursor: default;
   background-color: lightcoral;
}

#board > div {
   border-radius: 50%;
   border: 0.5vmin solid maroon;
}

h1 {
   font-size: 100px;
   font-stretch: extra-expanded;
   color: maroon;
   margin: 1vmin;
}

h2 {
   font-size: 30px;
   font-stretch: extra-expanded;
   color: #B22222;
   margin: -4vmin;
}

h3 {
   font-size: 35px;
   font-stretch: extra-expanded;
   color: MediumVioletRed;
   margin-top: 3vmin;
   padding: 5vmin;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

button {
   font-size: 4vmin;
   font-stretch: extra-expanded;
   color: maroon;
   margin-top: 2vmin;
   margin-bottom: 3vmin;
   border: 5px solid;
   border-radius: 7px;
   background-color: pink;
   outline-color: transparent;
   outline-style: solid;
   box-shadow: 0 0 0 4px #DB7093;
   transition: 0.5;
   opacity: 0.8;
}

#foobar {
   opacity: 0.8;
   margin: 10px;
}

audio::-webkit-media-controls-panel {
   background-color:indianred !important;
   }
