* {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Stick No Bills', sans-serif;
   background-color: #c0c0c0;
}

section {
   
}

#board {
   display: grid;
   grid-template-columns: repeat(7, 8vmin);
   grid-template-rows: repeat(6, 8vmin);
   /* gap: 10px; */
   background-color: lightgray;
   border: solid gray;
   align-content: center;
   margin: 50x;
   gap: 2vmin;
   /* cursor: default; */
}

#board > div {
   /* border: solid maroon; */
   border-radius: 50%;
   border: 0.5vmin solid maroon;


/* align-content: start; */
/* gap: 0px; */
   /* margin: 100px; */
   /* padding: -5px; */

}

h1 {
font-size: 100px;
font-stretch: extra-expanded;
color: maroon;
}

h1 {
   font-size: 100px;
   font-stretch: extra-expanded;
   color: maroon;
   }

div > Leftside {
   float: left;
}

.Rightside {
   justify-content: right;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

button {
   display: grid;
   font-size: 5vmin;
   font-stretch: extra-expanded;
   color: maroon;
   margin-top: 5vmin;
}